.idea/
logs/
target/
.DS_Store
dependency-reduced-pom.xml
dev/docker/*.jar
*.iml
release
.sfcli/
build/scala*
build/zinc*
web_console/build
web_console/node_modules
package-lock.json
build/
config/application.yml
files/
web-ui-template/
